*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ececf1;
}
.content{
    background-color: white;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position:absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.title{
    font-size: 28px;
    font-weight: bold; 
}
.title-primary{
    color:white
}
.title-second{
    color: #58af9b;
}
.description {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
}
.description-primary{
    color:#fff;
}
.description-second{
    color:#95a5a6;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 191px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover{
    background-color: #fff;
    color:#58af9b
}
.btn.btn-second{
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

/*first-content*/
.first-content{
    display: flex;
    
}

.first-content .second-column{
    z-index: 11;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    /*margin: 8px;*/
    /*text-align: center;*/
}

.form input{
    height: 35px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
    
}
.label-input{
    background-color: #ececf1;
    display: flex;
    align-items: center;
    margin: 3px;
}

/* second-content ou tela de login*/

.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1;
    
}

.second-content .second-column{
    order: 1;
    /*opacity: -1;*/
    z-index: -1;
}
.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}


.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
}

.sign-in-js .second-content .second-column{
    z-index: 11;
}

.sign-in-js .second-content .first-column{
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;

    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideup 3s;

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -1;
}

.sign-up-js .first-content .second-column{
    z-index: 11;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}


/*deslocamento do conteudo atrás do content:before*/
.sign-in-js .first-content .second-column{
    z-index: -1;
    position: relative;
    animation: displacementEsq 3s;
}

.sign-up-js .second-content .second-column{    
    position: relative;
    z-index: -1;
    animation: displacementDir 3s;

}

/*animação css para o conteudo*/
@keyframes displacementEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes displacementDir {
    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
        
    }

    to {
        left: 110px;
        z-index: -1;
    }
}

/*animação css*/
@keyframes slidein{
    from{
        left: 0;
        width: 40%;
    }

    25%{
        left: 5%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 45%;
        width: 50%;
    }

    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideup{
    from{
        left: 60%;
        width: 40%;
    }

    25%{
        left: 45%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to{
        left: 0%;
        width: 40%;
    }
}