<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/teste.css' %}">
</head>
<body>
    <div class="container">
            <div class="content first-content">
                <div class="first-column">
                    <h2 class="title">Bem-vindo de volta</h2>
                    <p class="description">Porfavor faça o login com </p>
                    <p class="description">suas informações pessoais</p>
                    <button class="btn">sign in</button>
                </div>

                <div class="second-column">
                    <h2 class="title">Crie sua conta</h2>
                    <div class="social-media">
                        <ul class="list-social-media">
                            <li><a href="#">google</a></li>
                            <li><a href="#">instagram</a></li>
                        </ul>
                    </div>
                    <p class="description">Faça o registro com seu email</p>
                    <form class="form">
                        <input type="text" placeholder="Nome">
                        <input type="date" type="number" placeholder="Data de nascimento">
                        <input type="text" placeholder="CPF">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Nome de usuário">
                        <input type="password" placeholder="Senha">
                        <button class="btn">Cadastre-se</button>                        
                    </form>

                </div>
            </div>
        <!--
            <div class="content second-content">
                <div class="first-column">
                    <h2 class="title">Olá, amigo!</h2>
                    <p class="description">Ensira seus dados pessoais</p>
                    <p class="description">para se cadastrar</p>
                    <button class="btn">sign up</button>
                </div>

                <div class="second-column">
                    <h2 class="title">Entre</h2>
                    <div class="social-media">
                        <ul>
                            <li><a href="#">google</a></li>
                            <li><a href="#">instagram</a></li>
                        </ul>
                    </div>
                    <p class="description">Entre com seu email ou usuário</p>
                    <form class="form">                        
                        <input type="email" placeholder="Email">                        
                        <input type="password" placeholder="Senha">
                        <a href="#">Esqueceu sua senha?</a>
                        <button class="btn">Login</button>                        
                    </form>
                </div>
            </div>
        -->
        <!--
        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
            <input type="text" placeholder="Seu nome..." name="username">
            <br>
            <br>

            <input type="email" placeholder="Seu email..." name="email">
            <br>
            <br>

            <input type="password" placeholder="Sua senha..." name="senha">
            <br>
            <br>

            <input type="submit" value="Cadastrar">
        </form>
        -->
    </div>
</body>
</html>