<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>login</title>
        <link rel="stylesheet" href="{% static 'css/esquenta.css' %}">
        
    <body>
        <div class="container">
                <div class="content first-content">
                    <div class="first-column">
                        <h2 class="title title-primary">Bem-vindo de volta</h2>
                        <p class="description description-primary">Por favor faça o login com </p>
                        <p class="description description-primary">suas informações pessoais</p>
                        <button id="signin" class="btn btn-primary">login</button>
                    </div>

                    <div class="second-column">
                        <h2 class="title title-second">Crie sua conta</h2>   

                        <form class="form" action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                            <label class="label-input" for="">                            
                                <input type="text" placeholder="nome" name="nome">
                            </label>

                            <label class="label-input" for="">
                                <input type="text" placeholder="Sobrenome" name="sobrenome">
                            </label>

                            <label class="label-input" for="">
                                <input type="email" placeholder="Email" name="email">
                            </label>

                            <label class="label-input" for="">
                                <input type="text" placeholder="Nome de usuário" name="username">
                            </label>
                            
                            <label class="label-input" for="">
                                <input type="password" placeholder="Senha" name="senha">
                            </label>  

                            <input class="btn btn-second" type="submit" value="Cadastre-se">                   
                        </form>

                    </div><!-- end second column-->
                </div><!-- end First content -->

                <div class="content second-content">
                    <div class="first-column">
                        <h2 class="title title-primary">Olá, amigo!</h2>
                        <p class="description description-primary">Ensira seus dados pessoais</p>
                        <p class="description description-primary">para se cadastrar</p>
                        <button id="sigup" class="btn btn-primary">Cadastre-se</button>
                    </div>

                    <div class="second-column">
                        <h2 class="title title-second">Entre</h2>                    
                        <p class="description description-second">Entre com seu usuário e senha</p>
                        <form class="form" action="{% url 'login' %}" method="POST">{% csrf_token %}
                            <label class="label-input" for="">
                                <input type="text" placeholder="Usuário" name="username">
                            </label>                        
                            
                            <label class="label-input" for=""> 
                                <input type="password" placeholder="Senha" name="senha">
                            </label>
                            
                            <a class="password" href="#">Esqueceu sua senha?</a>
                            <input class="btn btn-second" type="submit" value="Login">                                 
                        </form>
                    </div><!-- end second column -->    
                </div><!-- end second-content -->
        </div>
        <script src="{% static 'js/tela_de_login.js' %}"></script>
    </body>
</html>